.form-control{
    margin-left: 40%;
    width: 25%;
    
   }
   .btn-success{
    margin-left: 40%;
    width: 25%;
    font-weight: 600;
    font-size: large;  
   }
   .col-form-label{
    margin-left: 40%;
   }
  
   .text-danger{
       margin-left: 40%;
   }
   .form-control.ng-touched.ng-invalid{
       border: 2px solid red;
   }
   .form-control.ng-touched.ng-valid{
       border: 2px solid green;
   }
   #sect1 {  
    height:100%;  
    color: #fff;background-image: url("../../../../assets/images/profilebg.jpg");  
    background-size: 100%;
    background-size:cover;
    padding-top: 3%; 
} 
#loginImage{
    color: #fff
    
}
.text-black{
    font-weight: 600;
    font-size: large;  
}