<section>
    <div id="sect1">
        <div id="loginImage">
            <img src="../../../../assets/images/login_image.jpg" alt="..." width="150px" class=" rounded-circle"
                style=" margin-left: 45%;">
        </div>
        <form [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
                <label class="col-form-label text-black">Username </label>
                <input id="primaryEmail" name="primaryEmail" type="primaryEmail" class="form-control"
                    formControlName="primaryEmail">
                <small *ngIf="primaryEmail.invalid && primaryEmail.touched" class="text-danger">Username is
                    required.</small>
            </div>
            <div class="form-group">
                <label class="col-form-label text-black">Password</label>
                <input id="password" name="password" type="password" class="form-control" formControlName="password">
                <small *ngIf="password.invalid && password.touched" class="text-danger">Password is required.</small>
            </div>
            <button
                style="margin-top:30px;border: 2px solid;background-image: url(../../../assets/images/collapsible.jpg);"
                type="submit" class="btn btn-success">Login</button>
            <button
                style="margin-top:30px;border: 2px solid;background-image: url(../../../assets/images/collapsible.jpg);"
                type="button" class="btn btn-success" routerLink="/home">Back</button>

        </form>
    </div>
</section>